.dockerbuild
*.pyc
*.pyo
.coverage
.DS_Store
Thumbs.db
.sass-cache
.*.sw[a-z]
*.map
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
build/Release
node_modules
.lock-wscript
docs/_build/doctrees/environment.pickle
test-results/
fe-coverage-results.xml